.panel-container {
  border-radius: var(--ui-radius);
  box-shadow: var(--colors-boxShadow);
  background-color: var(--colors-background);

  .label-area {
    display: flex;
    flex-direction: column;
    user-select: none;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--ui-padding);

      .label {font-weight: bold;}

      img {height: var(--fontSizes-medium);}
    }
  }

  .children-container {
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    padding: var(--ui-padding);
  }
}