.button-container {
  all: unset;
  user-select: none;
  padding: 0 calc(var(--ui-padding) / 2);
  border: 2px solid var(--colors-text);
  border-radius: var(--ui-radius);
  box-sizing: border-box;
  box-shadow: var(--colors-boxShadow);
  text-align: center;
  font-weight: bold;
  transition: all var(--durations-normal);

  &.full-width { width: 100%; }

  &.enabled {
    border-color: var(--colors-primary);
    cursor: pointer;

    &:hover { color: var(--colors-primary); }

    &:active { transform: translateY(2px); }
  }

  &.danger {
    border-color: var(--colors-danger);

    &:hover { color: var(--colors-danger); }
  }

  &.disabled {
    background-color: var(--colors-disabled);
    border-color: var(--colors-disabled);
    color: var(--colors-disabledText);
    cursor: not-allowed;
  }
}
