.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--colors-cloudy);

  .children-container {
    min-width: 200px;
    width: 25vw;
  }
}