@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--colors-cloudy);
  animation: fadeIn var(--durations-mid) forwards;

  &.inactive {animation: fadeOut var(--durations-mid) forwards;}

  .children-container {
    min-width: 200px;
    width: 25vw;
  }
}