.carousel-container {
  display: flex;
  flex-direction: column;

  .carousel-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--ui-padding);
    box-sizing: border-box;

    .right-content {
      display: flex;
      align-items: center;
    }
  }

  .elements {
    width: 100vw;
    display: flex;
    gap: var(--ui-margin);
    padding: var(--ui-padding);
    box-sizing: border-box;
    overflow-x: auto;

    > * { flex-shrink: 0; }
  }
}