#router-container {
  // COLORS
  --colors-background: #f5f5f5;
  --colors-primary: #00c076;
  --colors-secondary: #96D4BC;
  --colors-text: #333333;
  --colors-textBis: #eaeaea;
  --colors-cloudy: #00C07644;
  --colors-panel: #ffffff;
  --colors-boxShadow: #00000099 0px 1px 5px;
  --colors-dropShadow: drop-shadow(0px 0px 2px #00000080);
  --colors-dropShadowHover: drop-shadow(0px 0px 2px #1F4E7980);
  --colors-shadow: #333333;
  --colors-disabled: #b8b8b8;
  --colors-disabledText: #dadada;
  --colors-danger: #ff0000;

  // DURATIONS
  --durations-normal: 0.2s;
  --durations-mid: 0.5s;
  --durations-long: 1s;

  // UI
  --ui-padding: 12px;
  --ui-margin: 12px;
  --ui-radius: 6px;

  // FONTSIZES
  $fontSizesCoef: 0.40vw;
  --fontSizes-small: calc(12px + #{$fontSizesCoef});
  --fontSizes-medium: calc(16px + #{$fontSizesCoef});
  --fontSizes-large: calc(20px + #{$fontSizesCoef});
  --fontSizes-title: calc(30px + #{2.75vw});
  --fontSizes-subTitle: calc(20px + #{1vw});

  // ICONSIZES
  $iconSizesCoef: 0.4vw;
  --iconSizes-small: calc(15px + #{$iconSizesCoef});
  --iconSizes-medium: calc(30px + #{$iconSizesCoef});
  --iconSizes-large: calc(45px + #{$iconSizesCoef});

  // BREAKPOINTS

  // MISCELLANEOUS

  width: 100vw;
  height: 100vh;
  color: var(--colors-text);
  font-size: var(--fontSizes-medium);
  background-color: var(--colors-background);
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 0;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {background: var(--colors-primary);}

  ::-webkit-scrollbar-track {background: var(--colors-secondary);}

  ::selection {
    background-color: var(--colors-primary);
    color: #ffffff;
  }
}