$fontSizesCoef: 0.30vw;

#router-container {
  // COLORS
  --colors-background: hsl(0, 0%, 96%);
  --colors-primary: rgb(0, 192, 118);
  --colors-secondary: #96D4BC;
  --colors-text: #333333;
  --colors-cloudy: #00C07644;
  --colors-boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --colors-dropShadow: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  --colors-dropShadowHover: drop-shadow(0px 0px 2px rgba(0, 192, 118, 0.5));
  --colors-shadow: #333333;
  --colors-disabled: rgb(184, 184, 184);
  --colors-disabledText: rgb(218, 218, 218);
  --colors-danger: red;

  // DURATIONS
  --durations-normal: 0.2s;
  --durations-long: 1s;

  // UI
  --ui-padding: 14px;
  --ui-margin: 14px;
  --ui-radius: 6px;

  // FONTSIZES
  --fontSizes-small: calc(14px + #{$fontSizesCoef});
  --fontSizes-medium: calc(16px + #{$fontSizesCoef});
  --fontSizes-large: calc(18px + #{$fontSizesCoef});

  width: 100vw;
  height: 100vh;
  color: var(--colors-text);
  font-size: var(--fontSizes-medium);
  background-color: var(--colors-background);

  ::-webkit-scrollbar {width: 6px;}

  ::-webkit-scrollbar-track {
    background: var(--colors-secondary);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--colors-primary);
    border-radius: 10px;
  }

  ::selection {background-color: var(--colors-primary);}
}